body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 600px
}
header{
    margin-bottom: 15px;
}
.div1{
width: 500px;
height: 300px;
position: relative;
border: 1px solid black;
background-color: gray;
}
.div2{
    position: absolute;
    left: 400px;
    top: 150px;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(54, 54, 54);
    margin-bottom: 15px;
}
.paragraf{
    margin-top: 60px;
}
.ilk{
    position: fixed;
    left: 600px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-color: gray;
}